.wrapper {
  margin-top: -10px;
  width: 100%;
  padding: 24px;
  grid-area: categories;
}
h2{
  padding-top: 10px;
  padding-bottom:20px;
  text-transform: uppercase;
}

/* .filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 24px 0;
}

.filter {
  background: var(--bg);
  border-radius: 8px;
  padding: 12px 24px;
  width: max-content;
  display: flex;
  align-items: center;

} */

.full {
  width: 100%;
}

.filter input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.filter span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--dark-sea);
  text-align: right;
}

.more {
  margin: 32px auto 0 auto;
  text-align: center;
}

.back {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
