.wrapper {
  width: 100%;
  padding: 24px;
}
h2{
  padding-top: 10px;
  padding-bottom:20px;
  text-transform: uppercase;
}

.full {
  width: 100%;
}
.moreBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  margin: 32px auto 0 auto;
  text-align: center;
}

.back {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
