.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.logo {
  width: 304px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.username {
  font-size: 10px;
  line-height: 12px;
  color: var(--grey);
}

.form {
  display: flex;
  align-items: center;
  background: var(--dark);
  border-radius: 6px;
  height: 27px;
  padding: 7px 10px;
  column-gap: 16px;
  width: 300px;
  position: relative;
}

.icon {
position: relative;
}
.icon img{
  width: 15px;
  height: 15px;
}


.input {
  position: relative;
  flex-grow: 1;
}

.input input {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  line-height: 16px;
  color: var(--grey);
  background: none;
  outline: none;
  width: 100%;
}

.account {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.favourites {
  cursor: pointer;
  position: relative;
}
.favourites img, .cart img{
  width: 30px;
  height: 30px;
}

.account svg {
  width: 24px;
  height: 24px;
}

.cart {
  position: relative;
}

.count {
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--violet);
  right: -10px;
  bottom: 15px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  color: var(--light);
  text-align: center;
  line-height:20px;
}

.box {
  z-index: 9;
  top: 120%;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background: var(--dark);
  border-radius: 8px;
}

.box::-webkit-scrollbar {
  display: none;
}

.item {
  font-size: 13px;
  color: var(--grey);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.item:hover {
  color: var(--light);
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 50px;
  width: 50px;
}
