.sidebar {
  padding: 24px;
  height: 423px;
  display: flex; 
  flex-direction: column; 
  grid-area: sidebar;

}

.title {
  font-weight: 600;
  line-height: 20px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.link {
  color: var(--dark-sea);
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
