:root {
  --bg: #49495d;
  --dark: #797082a5;
  --dark-sea: #98f4f9;
  --grey: #ede8e8;
  --white: #fff;
  --violet: hsl(277, 69%, 78%);
  --violet-dark: #4141a2;
  --light: #f6f6f7;
  --sea: #91c1d5;
}
